<div>
    <div class="container header">
        <div class="app-header">
            <h3 class="app-header">FBCommentAnalyzer</h3>
        </div>
        <div class="app-body">
            <tabset>
                <tab heading="Comment">
                    <app-home class='facebookChromeExtension'></app-home>
                </tab>
                <tab heading="Settings">
                    <app-settings></app-settings>
                </tab>
            </tabset>
        </div>
    </div>
</div>
