@import '../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap'; 
@import '../../bower_components/font-awesome/scss/font-awesome';

html {
    width: 700px; 
    height: 375px; 
    color: #666;
}

.app-header {
    float: right; 
}

.app-body {
    margin-top: 3%; 
}

.fb-comment {
    margin-top: 3%; 
    margin-bottom: 3%; 
}

.fb-buttons {
    float: right; 
}

.home-login {
    margin-top: 25%;
    margin-left: 40%; 
}

.fb-results {
}

.nopadding {
   padding: 0 !important;
}
